@media screen and (max-width: 767px) {
    .navigation-list {
        display: none;
    }

    .show-mob {
        display: block;
    }

    .hide-mob {
        display: none;
    }

    .header-logo {
        display: block;
        margin: 0 auto;
        width: 50%;
        padding: 50px 0;
    }

    .arrow-wrapper {
        box-shadow: 0 5px 10px rgba(219, 75, 197, 0.2);
    }

    .header {
        height: 90px;
    }

    .header-logo-mob {
        display: block;
    }

    .header-rpeview {
        width: 70%;
    }

    .header-btn {
        margin-top: 40px;
    }

    .header-form {
        display: none;
    }

    .popup-box {
        padding: 20px;
        width: 90%;
        top: 50%;
    }

    .main {
        float: none;
        margin: 0 auto 100px;
        padding: 30px 15px;
    }

    .newsfeed-post {
        width: 49%;
        padding: 35px 10px;
        margin: 0;
    }

    .post-img {
        width: 100%;
        height: 100%;
    }

    .nav-mobil {
        display: block;
        position: fixed;
        z-index: 9;
        left: -120%;
        width: 100%;
        height: 100%;
        max-height: 736px;
        background: linear-gradient(40deg, transparent 40%, #FFE66B),
        linear-gradient(-40deg, #FF6A8E 20%, #FF9081 90%);
        transition: all 0.4s ease-in-out;
    }

    .nav-mobil-list {
        list-style: none;
        padding: 0;
        margin-top: 12px;
    }

    .nav-mobil-item {
        display: inline-block;
        width: 100%;
        margin: 10px 0;
    }

    .nav-mobil-item-link {
        color: #F5F5F7;
        display: block;
        margin: 0 auto;
        padding: 5px 20px;
        font-size: 18px;
        border: 1px solid rgba(255, 255, 255, 0);
        box-sizing: border-box;
        width: 70%;
    }

    .nav-mobil-item-link:hover {
        transition: all 0.4s ease-in-out;
        border: 1px solid rgba(255, 255, 255, 0.4);
    }

    .nav-mobil-item-link:not(:hover) {
        transition: all 0.4s ease-in-out;
    }

    .nav-mobil-item-link--active {
        color: #F5F5F7;
        display: block;
        margin: 0 auto;
        padding: 20px;
        font-size: 18px;
        background: rgba(255, 255, 255, 0.2);
        box-sizing: border-box;
        width: 70%;
    }

    .nav-school-list {
        list-style: none;
        background: white;
        width: 45%;
        padding-left: 10px;
        height: 100%;
        display: inline-block;
        margin: 0 auto;
    }

    .nav-mobil-icon {
        width: 20px;
        padding: 5px 20px 5px 10px;
        vertical-align: bottom;
        display: inline-block;
    }

    .nav-mobil-icon-fix {
        width: 25px;
        padding: 5px 20px 5px 5px;
        vertical-align: bottom;
        display: inline-block;
    }

    .nav-mobil-list .link {
        display: inline-block;
        cursor: pointer;
        width: 70%;
        font-size: 18px;
        padding: 5px 20px;
        color: #F5F5F7;
        box-sizing: border-box;
        margin-left: 15%;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
        position: relative;
    }

    .link::after {
        content: "";
        position: absolute;
        bottom: 10px;
        right: 0;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 10px solid #F5F5F7;
    }

    .nav-mobil-list .submenu-open:last-child .link {
        border-bottom: 0;
    }

    .nav-mobil-list .submenu-open i {
        position: absolute;
        top: 16px;
        left: 12px;
        font-size: 18px;
        color: #595959;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }

    .nav-mobil-list .submenu-open i.fa-chevron-down {
        right: 12px;
        left: auto;
        font-size: 16px;
    }

    .nav-mobil-list .submenu-open.open .link {
        color: #b63b4d;
    }

    .nav-mobil-list .submenu-open.open i {
        color: #b63b4d;
    }

    .nav-mobil-list .submenu-open.open i.fa-chevron-down {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .mobil-submenu-list {
        display: none;
        padding-left: 30%;
        list-style: none;
        font-size: 14px;
    }

    .mobil-submenu-list .mobil-submenu-item-link {
        display: block;
        text-decoration: none;
        padding: 10px;
        color: #F5F5F7;
        -webkit-transition: all 0.25s ease;
        -o-transition: all 0.25s ease;
        transition: all 0.25s ease;
    }

    .mobil-submenu-list .mobil-submenu-item-link:hover {
        color: #b63b4d;
    }

    .active-profile {
        background: 0;
        border: 0;
    }

    .user-info__container {
        width: 100%;
        margin: 20px auto 120px;
    }

    .usermenu__container {
        display: none;
    }

    .user-data--left,
    .user-data--right {
        width: 100%;
    }

    .nav-school-item {
        width: 90%;
        margin: 10px auto;
        height: 35px;
    }

    .info__basic {
        width: 100%;
    }

    .contacts {
        width: 100%;
        margin: 20px auto 120px;
    }

    .contact__container {
        width: 100%;
        display: block;
        margin: 0 auto 20px;
    }

    .settings {
        width: 100%;
        padding-bottom: 20px;
        margin: 20px auto 120px;
    }

    .setting__avatar {
        float: none;
        width: 40%;
        margin: 20px auto;
    }

    .setting__container {
        width: 100%;
    }

    .nav-school-item:first-child {
        margin-top: 70px;
    }

    .nav-school-item-link {
        color: #4e5e73;
    }

    .nav-school-item-link:hover {
        color: #2cacdc;
    }

    .nav-school-list--bottom {
        list-style: none;
        background: white;
        width: 45%;
        padding-left: 4px;
        height: 100%;
        display: inline-block;
        margin: 100px auto 0;
        vertical-align: top;
        border-left: 1px solid #4d7e89;
    }

    .nav-school-item--bottom {
        width: 100%;
        margin: 10px auto;
        padding: 15px 10px;
    }

    .nav-school-item-link--bottom {
        color: #4e5e73;
    }

    .nav-school-item-link--bottom:hover {
        color: #2cacdc;
    }

    .nav-school-item-active {
        background: #4d7e89;
        color: white;
        padding: 15px 10px;
    }

    .nav-school-item-link-active--bottom,
    .nav-school-item-link-active {
        color: white;
    }

    .nav-mobil-img {
        width: 20px;
        padding: 0 10px;
    }

    .show {
        left: 0;
        transition: left 0.3s linear;
        box-shadow: 4px 0 40px rgba(0, 0, 0, 0.5);
    }

    .btn {
        display: block;
        width: 50px;
        padding: 15px 0 0;
        left: 25px;
        position: absolute;
        z-index: 9999;
        cursor: pointer;
    }

    .close-btn {
        transition: left 0.4s linear;
    }

    .post-readmore {
        padding: 5px;
    }

    .contacts-info-img {
        padding: 5px;
    }

    .button-container {
        top: 35px;
        left: 35px;
        height: 24px;
        width: 30px;
        cursor: pointer;
        z-index: 100;
        opacity: 1;
        transition: all 0.2s ease-in-out;
    }

    .button-container:hover {
        opacity: 0.7;
    }

    .button-container.active .top {
        -webkit-transform: translateY(10px) translateX(0) rotate(45deg);
        -ms-transform: translateY(10px) translateX(0) rotate(45deg);
        transform: translateY(10px) translateX(0) rotate(45deg);
        background: #ffffff;
    }

    .button-container.active .middle {
        opacity: 0;
        background: #ffffff;
    }

    .button-container.active .bottom {
        -webkit-transform: translateY(-10px) translateX(0) rotate(-45deg);
        -ms-transform: translateY(-10px) translateX(0) rotate(-45deg);
        transform: translateY(-10px) translateX(0) rotate(-45deg);
        background: #ffffff
    }

    .button-container span {
        background: white;
        border: none;
        height: 4px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.35s ease;
        cursor: pointer;
    }

    .button-container span:nth-of-type(2) {
        top: 10px;
    }

    .button-container span:nth-of-type(3) {
        top: 20px;
    }

    .basic__container {
        margin: 0 auto;
        width: 100%;
    }

    .other-info__container {
        margin: 0 auto;
        width: 100%;
    }

    .contacts-info-form {
        margin-right: 5%;
    }

    .lands__container {
        width: 90%;
        float: none;
        margin: 0 auto;
    }

    .promo__container {
        width: 90%;
        float: none;
        margin: 0 auto;
    }

    .shop-item__container {
        width: 30%;
        padding: 5px 0;
        box-sizing: border-box;
    }

    .presentation-img {
        float: none;
    }

    .presentation__text {
        width: 95%;
    }

    .good-btn {
        margin: 20px 0 0 55%;
    }

    .school__body {
        width: 100%;
        margin-top: 0;
        float: none;
    }

    .main__scheme {
        background-size: 120%;
    }

    .user__contact {
        width: 100%;
        height: 440px;
        margin-bottom: 20px;
    }

    .user-avatar {
        float: none;
        margin: 0 auto;
    }

    .user__info {
        float: none;
        width: 90%;
        margin: 0 auto;
    }

    .user-username {
        width: 90%;
    }

    .school__navigation {
        display: none;
    }

    /*SCHOOL*/
    /*First lesson*/
    .first-lesson-img--leaf {
        display: none;
    }

    .first-lesson-text {
        display: block;
        text-align: center;
        margin: 10px auto;
    }

    .first-lesson__content {
        display: block;
        width: 90%;
        margin: 10px auto;
    }

    .first-lesson-content-icon {
        width: 150px;
    }

    .first-lesson-wrapper {
        width: 100%;
    }

    .first-lesson__container {
        display: block;
    }

    .first-lesson-icon {
        width: 70px;
        display: block;
        margin: 10px auto;
    }

    .first-lesson-img--right {
        display: block;
        width: 200px;
        margin: 20px auto;
    }

    /*Second lesson*/
    .second-lesson__container {
        display: block;
    }

    .second-lesson-text--border,
    .second-lesson-container-text {
        display: block;
        width: 80%;
        margin: 10px auto;
    }

    .second-lesson-img--right,
    .second-lesson-container-img {
        display: block;
        width: 80%;
        padding: 20px;
        box-sizing: border-box;
        margin: 10px auto;
    }

    /*Third lesson*/

    .third-lesson__container,
    .third-lesson__container--gradient {
        display: block;
    }

    .third-lesson-container-text,
    .third-lesson-container-text--white,
    .third-lesson-container-content-text {
        display: block;
        width: 90%;
        margin: 10px auto;
    }

    .third-lesson-container-img {
        display: block;
        width: 90%;
        margin: 10px auto;
    }

    .third-lesson-container__content {
        width: 100%;
    }

    /*BASIC PROP*/
    .logout-link {
        display: none;
    }

    .lesson__content {
        width: 100%;
        display: block;
    }

    .lesson-content-icon {
        display: block;
        margin: 10px auto;
    }

    .lesson-content-text {
        display: block;
        margin: 10px auto;
        width: 80%;
    }

    .lesson-screenshot {
        width: 100%;
    }

    .lesson-header {
        display: block;
    }

    .lesson-header-img {
        position: relative;
        display: block;
        margin: 0 auto;
        padding: 30px 30px 0 30px;
        box-sizing: border-box;
        width: 70%;
    }

    .lesson-header-img--big {
        position: relative;
        display: block;
        margin: 0 auto;
        padding: 20px 20px 0 20px;
        box-sizing: border-box;
        width: 100%;
    }

    .lesson-header-img--fix {
        position: absolute;
        display: block;
        margin: 0 auto;
        padding: 50px 20px 0 20px;
        box-sizing: border-box;
        width: 90%;
    }

    .lesson-header-caption {
        display: block;
        width: 90%;
        font-size: 32px;
        padding: 20px 0;
        margin: 0 auto;
    }

    .lesson-text--border,
    .lesson-text {
        width: 90%;
    }

    .lesson-footer-text {
        display: block;
    }

    .lesson-footer-img {
        display: none;
    }

    .lesson-header {
        display: block;
    }

    .lesson-caption--black,
    .lesson-caption--blue {
        font-size: 20px;
        width: 95%;
    }

    .lesson-container-img {
        width: 100%;
    }

    .lesson__container--gradient {
        padding-bottom: 0;
    }

    .lesson-container-icon {
        display: block;
        margin: 10px auto;
        float: none;
        width: 70px;
    }

    .lesson-container__content {
        display: block;
        margin: 10px auto;
    }

    /*ONLINE PROMOTION*/
    /*Basic course of promotion in Instagram*/
    .basic-inst__link {
        width: 100%;
    }

    .basic-inst__link-rain {
        max-width: 50%;
        left: 25%;
    }

    .basic-inst-img {
        width: 95%;
    }

    /*OFFLINE PROMOTION*/
    /*Fundamental principles of offline promotion*/
    .fundamental-container--left {
        width: 100%;
    }

    .fundamental__container-images {
        display: none;
    }

    .fundamental-container-text {
        width: 100%;
    }

    .fundamental-container-img--right {
        display: none;
    }

    .fundamental-container-icon,
    .fundamental-container-text,
    .fundamental-container__content {
        display: block;
        margin: 10px auto;
    }

    /*How to reach an agreement about cooperation*/
    .agreement-container-icon,
    .agreement-container-text--black,
    .argument-img--left,
    .argument-img--right,
    .argument-container-text {
        display: block;
        margin: 10px auto;
    }

    .argument__container,
    .argument__container--left {
        display: block;
        width: 90%;
    }

    .argument-container-text {
        width: 90%;
    }

    /*Create an image of a successful person*/
    .successful-cloud--left {
        margin-left: 5%;
        display: block;
        width: 90%;
    }

    .successful-cloud--right {
        margin-left: 5%;
        display: block;
        width: 90%;
    }

    .successful-panda--left {
        float: none;
        position: relative;
    }

    .successful-panda--right {
        float: none;
        position: relative;
        margin-left: 50%
    }

    .successful__container {
        width: 90%;
    }

    .successful-img--large--right {
        float: none;
        width: 140px;
        display: block;
        margin: 0 auto;
    }

    .successful-img--small--right {
        float: none;
        width: 140px;
        display: block;
        margin: 0 auto;
    }

    .successful-img--small,
    .successful-img--middle,
    .successful-img--large {
        display: block;
        margin: 0 auto;
    }

    .successful-text--border {
        width: 90%;
    }

    .successful__container,
    .successful-img,
    .successful-text,
    .successful-img--right {
        display: block;
        margin: 10px auto;
    }

    .successful__container {
        display: block;
        width: 90%;
    }

    .successful-img--right {
        float: none;
    }

    /*How to increase trust to yourself*/
    .trust-img,
    .trust-img--small,
    .trust-img--middle,
    .trust-img--large {
        width: 40%;
        min-width: 150px;
        display: block;
        margin: 10px auto;
    }

    .trust-text {
        display: block;
        width: 90%;
        margin: 0 auto 20px;
    }

    .trust-scheme__content {
        width: 100%;
    }

    .trust__container {
        display: block;
    }

    .trust-number,
    .trust-img,
    .trust-text {
        display: block;
        margin: 10px auto;
    }

    .trust-number {
        text-align: center;
    }

    .trust-scheme-content-icon {
        display: block;
        margin: 10px auto;
        float: none;
        width: 70px;
    }

    /*Clients before a face*/
    .before-face-scheme-img {
        display: none;
    }

    .before-face-scheme__content {
        display: block;
    }

    .before-face-scheme__info {
        display: flex;
    }

    .before-face-scheme-info-icon {
        display: inline-block;
        margin: auto;
        width: 100px;
    }

    .before-face-scheme-info-text {
        display: inline-block;
        margin: auto;
        width: 80%;
        font-size: 18px;
        color: white;
        padding: 10px;
        box-sizing: border-box;
    }

    .before-face__container,
    .before-face-img,
    .before-face-text {
        display: block;
        margin: 10px auto;
    }

    /*Customers for life*/
    .customers__container,
    .customers-container-icon,
    .customers-container-text,
    .customers-comment-text,
    .customers__comment,
    .customers-comment-img {
        display: block;
        margin: 10px auto;
    }

    /*Making a residual income*/
    .residual-container-icon {
        display: block;
        margin: 10px auto;
        float: none;
        width: 70px;
    }

    .residual__container,
    .residual-container-icon,
    .residual-container-text {
        display: block;
        margin: 10px auto;
    }

    /*INCREASE IN SALES*/
    /*Combating contradictions*/
    .contradictions__infographic {
        width: 100%;
    }

    .contradictions-infographic-text {
        width: 39%;
        padding: 20px 10px;
    }

    .contradictions-infographic-icon {
        width: 20%;
        padding: 20px 10px;
    }

    .contradictions-infographic-number {
        padding: 40px 10% 0;
    }

    .contradictions-infographic-icon {
        width: 100px;
        display: block;
        padding: 5px 5px 30px;
        box-sizing: border-box;
        margin: 0 auto;
    }

    /*The power of a declaration*/
    .power__container {
        width: 49%;
    }

    /*NEGOTIATION*/
    /*The rule of 3 “Yes”*/
    .three-yes__container {
        background: #00c5db;
    }

    .three-yes-text {
        padding: 20px 0;
        width: 100%;
    }

    .three-yes-content__texts {
        display: block;
    }

    .three-yes-content-icon {
        display: block;
        margin: 10px auto;
    }

    .three-yes-content-text {
        width: 90%;
        display: block;
        margin: 10px auto;
    }

    .yes-hang-img {
        padding: 10px;
        box-sizing: border-box;
    }

}
