@media screen and (min-width: 992px) and (max-width: 1300px) {
    input[type="text"] {
        right: 10%;
    }

    input[type="submit"] {
        right: 10%;
    }

    /*header*/
    .logout-link {
        margin-right: 2%;
    }

    .navigation-list {
        margin-left: 2%;
        width: 800px;
    }

    /*contacts*/
    .popup-box {
        width: 50%;
    }

    .contact__container {
        width: 25%;
    }
}